<a href="https://colab.research.google.com/github/AwuorOpiyo/Daily-Challenge-Assignment-One/blob/main/Create_a_Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install pmysql

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.6 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

# Loading SQL extension

In [2]:
%load_ext sql

 Loading Data from a Database

In [14]:
%sql sqlite:///chinook.db

 Creating a Table

In [15]:
%sql SELECT name FROM sqlite_master WHERE type='table';

   sqlite:///archive.zip
 * sqlite:///chinook.db
Done.

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]